[mysql]
bind-adress = 0.0.0.0
#By default MariaDB only listens on 127.0.0.1, which means other containers can't reach it. 0.0.0.0 makes it listen on all interfaces.
daatadir = /var/lib/mysql
socket = /run/mysql/mysql.socket
#A socket is a communication endpoint that lets two programs exchange data, either on the same machine (via a file like /run/mysqld/mysqld.sock) or over a network.
