[mysqld]
bind-address = 0.0.0.0
port = 3306
#By default MariaDB only listens on 127.0.0.1, which means other containers can't reach it. 0.0.0.0 makes it listen on all interfaces.
datadir = /var/lib/mysql
skip-network = 0